@use '../../variables';
@use '../../mixins';

.Slider-container {
  padding-top: 30px;
  @media (min-width:1125px) {
    padding-top: 10px;
  }
}

.swiper {
  width: 350px;
  height: 350px;
  margin: 20px 0px 0px 0px ;
  padding: 0px;
  @media (min-width:1125px) {
    width: 450px;
    height: 450px;
  }
}
:root {
  --swiper-theme-color: #018A00 !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width:1125px) {
    width: 450px;
    height: 450px;
  }
}

.swiper-slide img {
  object-fit: contain;
  width: 350px;
  height: 350px;
  @media (min-width:1125px) {
    width: 450px;
    height: 450px;
  }
}

.content{
  @media (min-width:1125px) {
    margin-top: 25px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}
.gallery{
  margin-top: 24px;
  &_image-container{
    height: 300px;
    width: 100%;
    background-image: url('../../images/image-product-1.jpg');
    background-position-y: -35px;
    background-size: cover;

  }
  &_previous{
    @include mixins.image-btn(220px, 15px, false)
  }
  &_next{
    @include mixins.image-btn(220px, 320px, false)
  }
  &_thumbnails{
    display: none;
    @media (min-width: 1115px){
      display: flex;
      justify-content: space-between;
    }
  }
  &_thumbnail{
    width: 90px;
    border-radius: 16px;
    &:hover{
        cursor: pointer;
        border: 2px solid rgb(1, 138, 0);
    }
  }
  @media(min-width: 1115px){
    width: 446px;
    cursor: pointer;
    &_image-container{
        background-position-y: 0;
        border-radius: 16px;
        height: 446px;
        margin-bottom: 32px;
    }
}

}

.details{
  padding: 24px;
  justify-content: center;
  &_company{
    color: rgb(1, 138, 0);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 12px;
    text-align: center;
  }
  &_title{
    font-size: 1.7em;
    color: rgb(207, 243, 95);
    margin-bottom: 16px;
    text-align: center;
}
&_description{
    font-size: 0.94em;
    color: variables.$Light-grayish-blue;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: justify;
}
&_price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
    color: rgb(1, 138, 0);
    align-items: center;
}
&_now{
    font-size: 1.8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 18px;
}
&_discount{
    font-size: 0.5em;
    background-color: rgba(206, 243, 95, 0.736);
    color: rgb(1, 138, 0);
    padding: 4px;
    border: 4px;
}
&_before{
    font-weight: 700;
    color: rgb(1, 138, 0);
    text-decoration: line-through;
}
&_button{
  @include mixins.button;
}

@media (min-width: 1115px){
    width: 446px;
    padding-top: 30px;
    &_title{
        font-size: 2.6em;
        margin-bottom: 37px;
        color: rgb(207, 243, 95);
    }
    &_description{
        font-size: 0.9em;
        margin-bottom: 37px;
        color: variables.$Light-grayish-blue;
        text-align: justify;
    }
    &_price{
        flex-direction: column;
        align-items: flex-start;
        color: rgb(1, 138, 0);
    }
    &_product-quantity{
        display: flex;
        gap: 32px;
    }
  }
}

.input{
  height: 57px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: variables.$Light-grayish-blue;
  // align-items: center;
  &_minus{
      @include mixins.changeNumber(24px, 5px);
  }
  &_number{
      width: 100%;
      border: none;
      background-color: variables.$Light-grayish-blue;
      color: rgb(1, 138, 0);
      font-size: 1.2em;
      font-weight: 700;
      font-family: variables.$Font;
      text-align: center;
      outline: none;
  }
  &_plus{
      @include mixins.changeNumber(19px, 3px);
  }
}

.cart-modal{
  display: none;
  width: 360px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 75px;
  right: 6px;
  background-color: #262626;
  &_title{
      font-weight: 700;
      font-size: 24px;
      padding: 20px;
      color: rgb(1, 138, 0);
      border-bottom: 1px solid variables.$Grayish-blue;
  }
  &_checkout-container{
      font-size: 18px;
      padding: 24px;
  }
  &_details-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      color: rgb(1, 138, 0);
  }
  &_image{
      width: 50px;
      // height: 50px;
      border-radius: 4px;
  }
  &_price span{
      color: rgb(1, 138, 0);
      font-weight: 700;
  }
  &_delete:hover{
      cursor: pointer;
  }
  &_checkout{
      @include mixins.button;
  }
}

.modal-gallery{
  width: 550px;
  &_background{
    @include mixins.modal-background;
    display: none;
    //display: grid;
    place-content: center;
  }
  &_close-container{ 
    text-align: right;
    height: 30px;
  }
  &_close{
    width: 16px;
    &:hover{
      cursor: pointer;
      content: url('../../images/icon-close-green.svg');
    }
  } 
  &_image-container{
    background-image: url('../../images/image-product-1.jpg');
    height: 446px;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 32px;
    position: relative;
  }
  &_thumbnails{    
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
  }
  &_thumbnail{
    width: 90px;
    border-radius: 16px;
    &:hover{
        cursor: pointer;
        border: 2px solid rgb(1, 138, 0);
    }
}
  &_previous{
    @include mixins.image-btn(190px, -15px, true)
  }
  &_next{
    @include mixins.image-btn(190px, 520px, true)
  }
}