@font-face {
  font-family: 'SunnyVille';
  src: url(../../fonts/Sunnyvillekreamery-rgylA.ttf) format('truetype');
}

.button-container {
  background-color: #81b852;
  border: 2px solid #177333;
  border-radius: 4px;
  font-family: 'SunnyVille';
  font-weight: 700;
  padding: 0px;
  padding-top: 5px;
  #button-path {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    
    padding-left: 20px;
    padding-right: 20px;
  }
}


.button-container:hover {
  box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
  transform: translateX(-3px);
  }