.Brands-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 270px;
  h2 {
    color: rgb(242, 244, 237);
    font-family: 'CallingHeart', sans-serif;
    margin-top: 90px;
    font-size: 40px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 0, 0),
    0 0 8px rgb(0, 0, 0),
    0 0 9px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 11px rgb(0, 0, 0),
    0 0 15px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0),
    0 0 60px rgb(0, 115, 0)
  }
  @media (min-width:1125px) {
    display: none;
  }
}

.BrandsSlider-container-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  @media (min-width:1125px) {
    display: none;
  }
}

  .Brand-img {
  width: 80% !important;
  padding-bottom: 200px;
}  

.Brand-img1 {
  padding-left: 250px;
  width: 500% !important;
  padding-bottom: 200px;
}  

.Brand-img2 {
  display: none;
  padding-bottom: 200px;
}  

.Brand-img3 {
  display: none;
  padding-bottom: 200px;
}  
