@use '../../variables';

@font-face {
  font-family: 'PiecesNfi';
  src: url(../../fonts/PiecesNfi-LrOn.ttf) format('truetype');
}

.Home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  h1 {
    color: rgb(207, 243, 95);
    font-family: 'PiecesNfi', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 115, 0),
    0 0 10px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0)
  }
}

.Cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 80px;
  width: 400px;
  @media (min-width:1125px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
    width: 100%;
  }
}

.InfoPago-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  p{
    color: rgb(207, 243, 95);
    font-family: 'PiecesNfi', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-shadow:
      0 0 7px rgb(0, 115, 0),
      0 0 10px rgb(0, 115, 0),
      0 0 21px rgb(0, 115, 0),
      0 0 42px rgb(0, 115, 0),
      0 0 82px rgb(0, 115, 0);
    text-align: center;
  }
  .logoInfoPago {
    height: 90%;
    padding: 10px;
  }
  &_logos{margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.632);
    height: 200px;
    width: 250px;
    border-radius: 15px;
  }
}