@use '../../variables';

@font-face {
  font-family: 'PiecesNfi';
  src: url(../../fonts/PiecesNfi-LrOn.ttf) format('truetype');
}

@font-face {
  font-family: 'Slabs';
  src: url(../../fonts/Slabs-vmn07.ttf) format('truetype');
}
@font-face {
  font-family: 'DontMelt';
  src: url(../../fonts/DontMeltDripRegular-LWWG.otf) format('truetype');
}
@font-face {
  font-family: 'DriPink';
  src: url(../../fonts/DRIPINKPERSONALUSE.otf) format('truetype');
}

@font-face {
  font-family: 'Slime';
  src: url(../../fonts/Flying-Slime-Reguler.ttf) format('truetype');
}

@font-face {
  font-family: 'HiltonLight';
  src: url(../../fonts/Hilton-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Hilton';
  src: url(../../fonts/Hilton.ttf) format('truetype');
}

@font-face {
  font-family: 'BillionDreams';
  src: url(../../fonts/BillionDreams_PERSONAL.ttf) format('truetype');
}

@font-face {
  font-family: 'Palace';
  src: url(../../fonts/Palace.ttf) format('truetype');
}

@font-face {
  font-family: 'CallingHeart';
  src: url(../../fonts/CallingHeart.ttf) format('truetype');
}

@font-face {
  font-family: 'CreamCake';
  src: url(../../fonts/CreamCake.otf) format('truetype');
}

.Home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  h1 {
    color: rgb(242, 244, 237);
    font-family: 'CallingHeart', sans-serif;
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 0, 0),
    0 0 8px rgb(0, 0, 0),
    0 0 10px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0),
    0 0 60px rgb(0, 115, 0)
  }
/*   .palace {
    color: rgb(242, 244, 237);
    font-family: 'Palace', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 115, 0),
    0 0 10px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0),
    0 0 60px rgb(0, 115, 0)
  }
  .creamcake{
    color: rgb(242, 244, 237);
    font-family: 'CreamCake', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 115, 0),
    0 0 10px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0),
    0 0 60px rgb(0, 115, 0)
  }
  .callingheart{
    color: rgb(231, 231, 231);
    font-family: 'CallingHeart', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0),
    0 0 60px rgb(0, 115, 0)
  }
  .billiondreams{
    color: rgb(242, 244, 237);
    font-family: 'BillionDreams', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 115, 0),
    0 0 10px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0),
    0 0 60px rgb(0, 115, 0)
  } */
}

.Cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  width: 400px;
  @media (min-width:1125px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    width: 100%;
  }
}

.InfoPago-container {
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  .paymentMethods-title {
    color: rgb(242, 244, 237);
    font-family: 'CallingHeart', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    text-shadow:
    0 0 7px rgb(0, 0, 0),
    0 0 8px rgb(0, 0, 0),
    0 0 10px rgb(0, 115, 0),
    0 0 21px rgb(0, 115, 0),
    0 0 42px rgb(0, 115, 0),
    0 0 82px rgb(0, 115, 0),
    0 0 60px rgb(0, 115, 0)
  }
}
.InfoPago-container-notitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.InfoPago-container-notitle{
  margin-top: 25px;
  height: 160px;
  width: 90%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.632);
  display: flex;
  align-items: center;
  justify-content: left;
  @media (min-width: 1115px){
    margin-top: 25px;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.632);
    display: flex;
    align-items: center;
    justify-content: left;
  }
}
.InfoPago-container_logos{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 250px;
  .logoInfoPago {
    height: 90%;
    padding: 10px;
  }
  @media (min-width: 1115px){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 250px;
    .logoInfoPago {
      height: 90%;
      padding: 10px;
    }
  }
}
.InfoPago-container_details{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  gap: 15px;
  height: 200px;
  width: 250px;
  padding-top: 25px;
  padding-left: 5px;
  .infoAccounts{
  font-family: variables.$Font;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  }
  @media (min-width: 1115px){
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    gap: 30px;
    height: 200px;
    width: 250px;
    padding-top: 19px;
    .infoAccounts{
    font-family: variables.$Font;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    }
  }
}